@font-face{
	font-family: fancy-font;
	src: url('fonts/RequitedScriptDemo.ttf');
}

@font-face{
	font-family: the-body;
	src: url('fonts/BebasNeue.otf');
}

body{
	background-color: #2D2D2D;
	margin: 0;
	font-family: the-body;
}

.logo{
	color: #634271;
	font-family: fancy-font, sans serif;
	float:left;
	font-size: 5vw;
	margin-right: auto;
	padding-left: 3vw;
	text-decoration: none;
}

#nav{
	display: block;
	background-color: rgb(171,177,185);
	height: 7vw;
	min-height: 7vh;
	padding-top:10px;
	line-height: 4vw;
	
	display: flex;
	align-items:center;
	justify-content:flex-end;
}

#nav li{
	float: right;
	display: inline-block;
	list-style-type: none;
	font-size: 3vw;
	padding-right: 30px;
}

#nav li a{
	text-decoration: none;
	color:#FFFFFF;
}


hr{
	margin: 0;
	height: 5px;
	background-color: #ABABAB;
	border:none;
}

.valign-wrapper{
	position: absolute;
  	width: 100%;
  	height: 100%;
  	display: table;
}
.valign{
	vertical-align: middle;
}

.container{
	position: relative;
}

.button{
	background-color: #634271;
	padding: 10px 30px 30px 30px;
	text-decoration: none;
	color: #ABABAB;
}

.text-entry{
	background-color: #2D2D2D;
	font-size: 2vw;
	vertical-align: middle;
	text-align: center;
	color: white;
	border: .4vw rgba(255,255,255,.5) solid;
	font-family: the-body;
	border-right: none;
	border-top: none;
	
	width: 15vw;
	height: 5vh;
	margin: 2vw;
}

.text-box{
	width: 40vw;
	height: 20vh;
	text-align: left;
	font-size: 1.5vw;
	vertical-align: middle;
	color: white;
	border: .4vw rgba(255,255,255,.5) solid;
}

#main{
	text-align: center;
	padding-top: 5vw;
}

.right{
	padding-top: 5vh;
	text-align: right;
	width: 77vw;
}

.button{
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
	background-color: #634271;
	border: none;
	font-size: 3vw;
	font-family: the-body;
	color: white;
	display: inline-block;
	padding: 15px 32px;
}

.button:hover{
	background-color: white;
    color: #634271;
}

.disabled {
    opacity: 0.2;
    cursor: not-allowed;
}
