@font-face{
	font-family: fancy-font;
	src: url('fonts/RequitedScriptDemo.ttf');
}

@font-face{
	font-family: the-body;
	src: url('fonts/BebasNeue.otf');
}

body{
	background-color: #2D2D2D;
	margin: 0;
	font-family: the-body;
}

.logo{
	color: #634271;
	font-family: fancy-font, sans serif;
	float:left;
	font-size: 5vw;
	margin-right: auto;
	padding-left: 3vw;
	text-decoration: none;
}

#nav{
	display: block;
	background-color: rgb(171,177,185);
	height: 7vw;
	min-height: 7vh;
	padding-top:10px;
	line-height: 4vw;
	
	display: flex;
	align-items:center;
	justify-content:flex-end;
}

#nav li{
	float: right;
	display: inline-block;
	list-style-type: none;
	font-size: 3vw;
	padding-right: 30px;
}

#nav li a{
	text-decoration: none;
	color:#FFFFFF;
}

.fancy{
	color: #634271;
	font-family: fancy-font, sans serif;
	font-size: 30vh;
	padding-right: 20px;	
}


hr{
	margin: 0;
	height: 5px;
	background-color: #ABABAB;
	border:none;
}

.button{
	background-color: #634271;
	padding: 10px 30px 30px 30px;
	text-decoration: none;
	color: #ABABAB;
}

#sidebar{
	float:left;
	margin-left: 5vw;
	background-color: black;
	width:25vw;
	min-width:180px;
	height:100vh;
	color: white;
	position: fixed;
	
	text-align:center;
	font-size: 3vw;
	margin-top: 2vh;
}

.text-entry{
	font-family: the-body;
	margin-left: .5vw;
	background-color:black;
	font-size: 1.5vw;
	vertical-align: middle;
	text-align: center;
	color: white;
	border: .4vw white solid;
	
	border-right: none;
	border-top: none;
}

#main{
	float: right;
    margin-right: 5vw;
}

#blocker{
	position: fixed;
    float: left;
    margin-left: 5vw;
    background-color: black;
    width: 25vw;
    min-width: 180px;
    height: 11vw;
    z-index: -1;
    margin-top: -8vw;
}

.entry{
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
	width: 60vw;
	height: 60vh;
	background-repeat:no-repeat;
	background-position: center;
	background-color: black;
	background-size: cover;
	background-image:url("../images/default_car.png");
}

.entry:hover{
    background-color: #634271;
	background-blend-mode: lighten;
}

.overlay{
	width: 60vw;
	height: 10vh;
	background-color: rgba(171,177,185, 0.5);
	color: black;
	font-size: 3vw;
	
	display:flex;
	align-items:center;
	justify-content:flex-end;
}

.overlay-left{
	margin-right: auto;
	vertical-align: middle;
}

.overlay-right{
	
}

.car-info{
	list-style: none;
	padding:0;
}

.car-info li{
	display: inline;
}

a{
	text-decoration: none;
}

.button{
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
	background-color: #634271;
	border: none;
	font-size: 3vw;
	font-family: the-body;
	color: white;
	display: inline-block;
	padding: 15px 32px;
}

.button:hover{
	background-color: white;
    color: #634271;
}

.large{
	margin-right: 10vw;
	font-size: 4vw;
	color: white;
}

.ui-menu-item-wrapper{
	font-family: the-body;
}
