@font-face{
	font-family: fancy-font;
	src: url('fonts/RequitedScriptDemo.ttf');
}

@font-face{
	font-family: the-body;
	src: url('fonts/BebasNeue.otf');
}

body{
	background-color: #2D2D2D;
	margin: 25px;
	font-family: the-body;
  text-align: center;

}

#main{
	background-image: url("images/lavender-1562993_1920.jpg");
	background-repeat: no-repeat;
	background-position: left bottom;
	background-size: cover;
}

.logo{
	color: #634271;
	font-family: fancy-font, sans serif;
	float:left;
	font-size: 5vw;
	margin-right: auto;
	padding-left: 3vw;
	text-decoration: none;
}

#nav{
	display: block;
	background-color: rgba(171,177,185, .5);
	height: 7vw;
	min-height: 7vh;
	padding-top:10px;
	line-height: 4vw;

	display: flex;
	align-items:center;
	justify-content:flex-end;
}

#nav li{
	float: right;
	display: inline-block;
	list-style-type: none;
	font-size: 3vw;
	padding-right: 30px;
}

#nav li a{
	text-decoration: none;
	color:#FFFFFF;
}

.fancy{
	color: #634271;
	font-family: fancy-font, sans serif;
	font-size: 10vw;
	padding-right: 20px;
	margin-bottom: -20px;
}


#jumbotron{
	height: 45vw;
	min-height: 70vh;

	line-height: 25vh;
}

#searchvehicles{
	text-align:center;
}

#searchbar{
	text-align:center;
	height:8vh;
	font-size:20px;
	width:70vw;
	border: solid 2px black;
}

#section1{
	height: 40vw;
	min-height: 70vh;
	color: rgb(171,177,185);
	font-size: 6vw;
}

.center{
	position: relative;
  	top: 50%;
  	transform: perspective(1px) translateY(-50%);
  	text-align: center;
  	overflow: hidden;

}

#section2{
	height: 40vw;
	min-height: 70vh;
	color: rgb(171,177,185);
	font-size: 6vw;

	background-image: url("images/car-690577_1280.jpg");
	background-repeat: no-repeat;
	background-position: left bottom;
	background-size: cover;
}

hr{
	margin: 0;
	height: 5px;
	background-color: #ABABAB;
	border:none;
}

.button{
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
	background-color: #634271;
	border: none;
	font-size: 5vw;
	font-family: the-body;
	color: white;
	display: inline-block;
	padding: 15px 32px;
}

.button:hover{
	background-color: white;
    color: #634271;
}

a{
	text-decoration: none;
}
