.loginInput
{
    text-align: center;
    padding: 25px 25px 25px 25px;


    letter-spacing:1pt;
    font-size:12px;
    font-family:tahoma, verdana, arial, sans-serif;
    line-height:1;
    color:whitesmoke; 
    background-color: #2D2D2D;
    width: 50%; 

    
    position:fixed;
    top: 25%; 
    left:25%;  
    
    /*overflow-x: auto;*/ 
    overflow-y: auto; 
    
    
}

.headerStyle
{
    text-align: center; 
    font-family: fancy_font; 
}

#buttonStyle
{
    background-color: mediumpurple; 
    border: none; 
    padding: 10px; 
    font-family:arial;  
    
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    
}

#button:hover
{
    background-color: mediumpurple; 
    color:white;
}

@font-face
{
	font-family: fancy_font;
	src: url('fonts/RequitedScriptDemo.ttf');
}


body
{
background: url(azureInterior.jpg); 
background-size: auto;
    
}

input[type = "submit"]
{
    text-align: center; 
    
}