@font-face{
	font-family: fancy_font;
	src: url('fonts/AccelerationReaction.ttf');
}

@font-face{
	font-family: the-body;
	src: url('fonts/BebasNeue.otf');
}

body{
	background-color: #2D2D2D;
	margin: 0;
	font-family: the-body;
}

.logo{
	color: #634271;
	font-family: fancy_font, sans serif;
	float:left;
	font-size: 20vw;
	text-decoration: none;
}

#nav{
	display: block;
	background-color: rgb(171,177,185);
	height: 7vw;
	min-height: 7vh;
	padding-top:10px;
	line-height: 4vw;
}

#nav li{
	float: right;
	display: inline-block;
	list-style-type: none;
	font-size: 3vw;
	padding-right: 30px;
}

#nav li a{
	text-decoration: none;
	color:#FFFFFF;
}

.fancy{
	color: #634271;
	font-family: fancy_font, sans serif;
	font-size: 30vh;
	padding-right: 20px;
}


.center{
	position: relative;
  	top: 50%;
  	transform: perspective(1px) translateY(-50%);
  	text-align: center;
  	overflow: hidden;
}


hr{
	margin: 0;
	height: 5px;
	background-color: #ABABAB;
	border:none;
}

.valign-wrapper{
	position: absolute;
  	width: 100%;
  	height: 100%;
  	display: table;
}
.valign{
	vertical-align: middle;
}

.container{
	position: relative;
}

.button{
	background-color: #634271;
	padding: 10px 30px 30px 30px;
	text-decoration: none;
	color: #ABABAB;
}

#sidebar{
	float:left;
	margin-left: 5vw;
	background-color: black;
	width:25vw;
	min-width:180px;
	height:100vh;
	color: white;
	position: fixed;
	
	text-align:center;
	font-size: 3vw;
	margin-top: 3vw;
}

.text-entry{
	margin-left: .5vw;
	background-color:black;
	font-size: 1.5vw;
	vertical-align: middle;
	text-align: center;
	color: white;
	border: .4vw white solid;
	
	border-right: none;
	border-top: none;
}

#main{
	float: right;
    margin-right: 5vw;
}

#blocker{
	position: fixed;
    float: left;
    margin-left: 5vw;
    background-color: black;
    width: 25vw;
    min-width: 180px;
    height: 11vw;
    z-index: -1;
    margin-top: -8vw;
}

.entry{
	width: 60vw;
	height: 60vh;
	background-repeat:no-repeat;
	background-position: center;
	background-color:white;
	background-image:url("images/default_car.png");
}

.overlay{
	width: 60vw;
	height: 10vh;
	background-color: rgba(171,177,185, 0.5);
}

.overlay-left{
	float:left;
}

.car-info{
	list-style: none;
}

.car-info li{
	display: inline;
}

.overlay-right{
	float:right;
}

